<!-- putting several different forms here - not sure if this the best
location for these, but attempting to keep this code clean.  Forms
are shown based on the task row drop down button selected
Ben Wolkenfeld, 1/4/15-->
<div class="modal-header">
  <h4 class="modal-title">Action - {{selectedForm}}</h4>
</div>
<div class="modal-body">
  <div ng-show="{{selectedForm == 'Mark Complete'}}">
    <form name="taskCompleteForm" class="form-horizontal">
      <span>Ready to mark <strong>{{task.taskTitle }}</strong>
        for {{task.clientFullName}} complete?</span>
      <div class="form-group">
        <label for="TaskCompleteDateTime" class="col-sm-2 control-label">Done on</label>
        <div class="col-sm-10">
          <input type="TaskCompleteDateTime" id="TaskCompleteDateTime"
            class="form-control" placeholder="{{Date.now()}}">
        </div>
      </div>
      <div class="form-group">
        <label for="TaskCompleteNotes" class="col-sm-2 control-label">Notes</label>
        <div class="col-sm-10">
          <textarea  id="TaskCompleteNotes" class="form-control" placeholder="Don't forget your notes..."></textarea>
        </div>
      </div>
    </form>
  </div>
  <div ng-show="{{selectedForm == 'Reschedule'}}">reschedule</div>
    <!-- <form name="taskRescheduleForm">
    </form> -->
  <div ng-show="{{selectedForm == 'Skip'}}">skip</div>
    <!-- <form name="taskSkipForm">
    </form> -->
      <!-- <ul>
        <li ng-repeat="item in items">
          <a ng-click="selected.item = item">{{ item }}</a>
        </li>
      </ul>
      Selected: <b>{{ selected.item }}</b>
    </div> -->
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
