<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
      <!-- begin operational overview panel -->
      <div class="panel panel-default">
        <div class="panel-heading ">
          <strong>Operational Overview</strong>
        </div>
        <!-- end panel heading section -->

        <!-- begin panel body section -->
        <div class="panel-body">
          <div class="container-fluid">
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><span class="h5"><strong>Active clients:</strong> 20</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small">&nbsp;</div>
            </div>

            <!-- begin payments section -->
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><span class="h6"><strong>Payments</strong> (6 late)</span></div>
            </div>
            <div class="row no-gutter-12">
              <a href="test.html">
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%">
                    14 ok
                  </div>
                  <div class="progress-bar progress-bar-info" style="width: 20%">
                    4
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 10%">
                    1
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 10%">
                    1
                  </div>
                </div>
              </a>
            </div>
            <!-- end payments section -->

            <!-- begin training schedules section -->
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><span class="h6"><strong>Training Schedules</strong> (10 pending, 3 late)</span></div>
            </div>
            <div class="row no-gutter-12">
              <a href="test.html">
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%">
                    10 ok
                  </div>
                  <div class="progress-bar progress-bar-info" style="width: 25%">
                    5
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 10%">
                    2
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 15%">
                    3
                  </div>
                </div>
              </a>
            </div>
            <!-- end training schedules section -->

            <!-- begin training schedules section -->
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><span class="h6"><strong>Contact Actions</strong> (15 pending, 5 late)</span></div>
            </div>
            <div class="row no-gutter-12">
              <a href="test.html">
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%">
                    5 ok
                  </div>
                  <div class="progress-bar progress-bar-info" style="width: 15%">
                    3
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 35%">
                    7
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 25%">
                    5
                  </div>
                </div>
              </a>
            </div>
            <!-- end training schedules section -->

          </div>
        </div>
        <!-- end panel body section -->

      </div>
      <!-- end operational overview panel -->

      <!-- begin 30-day activity performance panel here -->
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <strong>30-Day Activity Performance</strong>
        </div>
        <!-- end panel heading section -->

        <!-- begin panel body section -->
        <div class="panel-body">
          <div ng-controller="nvd3Charts.CoachPerformanceChartCtrl">
            <nvd3 options="options" data="data"></nvd3>
          </div>
        </div>
      </div>
      <!-- end 30-day activity performance here -->

      <!-- begin athlete nutrition panel here -->
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <strong>Non-Active Athletes</strong>
        </div>
        <!-- end panel heading section -->

        <!-- begin panel body section -->
        <div class="panel-body">

          <!-- insert charts here -->
          <div class="container-fluid">
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Jim Johnson</a> <span class="text-muted">(28 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Janet Krauthammer</a> <span class="text-muted">(21 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Stevie Wonder</a> <span class="text-muted">(20 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Rae Hewitt</a> <span class="text-muted">(20 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Ron Stirrup</a> <span class="text-muted">(19 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Ron Paul</a> <span class="text-muted">(18 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Rhonda Lewis</a> <span class="text-muted">(16 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Stacy Stevenson</a> <span class="text-muted">(14 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Magic Jordan</a> <span class="text-muted">(13 days)</span></div>
            </div>
            <div class="row no-gutter-12">
              <div class="col-sm-12 small"><a href="">Lex Luthor</a> <span class="text-muted">(13 days)</span></div>
            </div>
          </div>
          <div class="text-center">
            <nav>
              <ul class="pagination pagination-sm text-center">
                <li class="disabled"><a href="#" area-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- end athlete nutrition panel here -->

    </div>

    <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
      <!-- calendar panel section -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Today&#39;s Schedule</strong>
        </div>
        <div class="panel-body">
          <div ng-controller="nvd3Charts.SnapshotChartCtrl">
            <nvd3 options="options" data="data" config="config"></nvd3>
          </div>

          <!-- end calendar panel -->
        </div>
      </div>

      <!-- begin actions list panel section -->
      <div class="panel panel-default" ng-controller="actionCtrl">
        <div class="panel-heading clearfix">

          <!-- button group with actions -->
          <div class="pull-right" role="group"">
            <div class="btn-group pull-right" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-sm" ng-click="addTask();">New action</button>
              <button type="button" class="btn btn-sm" ng-click="setTaskFilter('1')">Review closed actions</button>
              <button type="button" class="btn btn-sm dropdown-toggle"
              dropdown-toggle>
              Show open items by... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="setTaskFilter('1')">Late items</a></li>
              <li><a href="" ng-click="setTaskFilter('2')">Due now</a></li>
              <li><a href="" ng-click="setTaskFilter('3')">Due tomorrow</a></li>
              <li><a href="" ng-click="setTaskFilter('4')">Due later</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="setTaskFilter('5')">Show me everything</a></li>
            </ul>
          </div>
        </div>
        <!-- end button group section -->

        <strong>Actions</strong>
      </div>
      <!-- end panel heading section -->

      <!-- begin panel body section -->
      <div class="panel-body">

        <!-- begin open tasks section, refreshed from
        the drop down above -->
        <div>
          <div class="container-fluid" ng-repeat="task in tasks | filter:taskFilter">
            <div class="row">
              <div class="col-sm-2">
                <img class="img-thumbnail" ng-src="{{task.clientImage}}">
              </div>
              <div class="col-sm-4">
                <span class="h4">{{task.clientFullName}}</span><br/>
                <span class="text-muted small">{{task.clientSpecialty}}</span>
                <br/><br/>
                <span class="text-muted small">{{task.clientFee | currency }}</span>
                <span class="text-muted small">{{"(" + task.clientPaymentStatus + ")"}} </span>
                </div>
                <div class="col-sm-4">
                  <span class="label {{getTaskStatusStyle(task.taskId)}}">{{task.taskDue}}</span>
                  <span class="h5">{{task.taskTitle}}</span><br/>
                  <span class="text-muted small">{{task.lastContactTitle +
                    " on "}} {{getLastContactDate(task.lastContactDateTime) | date:'short'}}
                  </span><br/>
                  <span class="text-muted small"><em>{{getCompletedInfo(task.taskId)}}</em></span>
                </div>
                <div class="col-sm-2">
                  <div ng-controller="taskActionModalCtrl">

                    <!-- Single button with dropdown-->
                    <div class="btn-group pull-right clearfix"
                    dropdown is-open="status.isopen">
                      <button type="button"
                      class="btn btn-xs btn-default dropdown-toggle"
                      dropdown-toggle>
                      Take action... <span class="caret"></span>
                    </button>

                    <!-- TO DO ITEM - Anti-pattern here with the $parent references, but leaving it for now
                    Ben Wolkenfeld, 1/5/2014 -->
                    <ul class="dropdown-menu btn-xs" role="menu">
                      <li><a href=""
                        ng-click="open('lg', 'Mark Complete', $parent.task)">Mark Complete</a></li>
                        <li><a href="" ng-click="open('lg', 'Reschedule', $parent.task)">Reschedule</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="open('lg', 'Skip', $parent.task)">Skip</a></li>
                      </ul>
                    </div>
                    <!-- end single drop down button section -->

                  </div>
                </div>
              </div>
              <div><hr/></div>
            </div>
            <!-- end open tasks section -->

          </div>
          <!-- end panel section> -->
        </div>
      </div>
      <!-- end actions list panel section -->

    </div>
  </div>
</div>
